<div class='container'>

    <form [formGroup]="otherForm" (ngSubmit)="onSubmit();">
        <br>
        <br>
        <h5>Select an account from which to send funds.</h5>

        <select class="form-control form-control-lg" formControlName="accountId">
            
                    <option *ngFor="let account of accounts" [value]="account.accountNumber">{{account.accountName}}  ({{account.type}})
                    </option>
                </select>

        <div>
            <label>How much would you like to transfer?</label>
            <input type="text" class="form-control" formControlName="amount">
        </div>
        <div>
            <label>Enter the account number of the account to receive these funds</label>
            <input type="text" class="form-control" formControlName="recipientId">
        </div>

        <br>
        <button class="btn btn-primary" [disabled]="!otherForm.valid">Submit</button>

    </form>
</div>