<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.transactionId }}</td>
          <td>{{ transaction.transactionDate | date: 'MM/dd/yyy' }}</td>
          <td>{{ transaction.type }}</td>
          <td>${{ transaction.amount }}</td>
          <!-- <td><button (click)="transactionDetails(transaction.id)" class="btn btn-info" style="margin-left: 10px">Transaction Details</button>></td> -->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
