<div class="container">

    <body>
        <div *ngIf="bill">
            <h2>{{bill.recipient | uppercase}} Bill Details</h2>
            <div class="d-flex">
                <div>
                    Provider:
                </div>
                <div class="ml-auto">
                    <p class="font-italic">
                        {{bill.recipient}}

                    </p>
                </div>
            </div>
            <div class="d-flex">
                <div>
                    Service:
                </div>
                <div class="ml-auto">
                    <p class="font-italic">
                        {{bill.purpose}}

                    </p>
                </div>
            </div>
            <div class="d-flex">
                <div>
                    Current Balance:
                </div>
                <div class="ml-auto">
                    {{bill.amount}}
                </div>
            </div>
            <div class="d-flex">
                <div>
                    Date Due:
                </div>
                <div class="ml-auto">
                    {{bill.initialBillDate}}
                </div>
            </div>
            Payment History:

        </div>

        <div class="container">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Remove
          Bill</button>

            <!-- Modal -->
            <div class="modal fade grey" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">Confirm Bill Removal</h4>
                        </div>
                        <div class="modal-body">
                            <p>All records of this bill will be removed, and removal cannot be undone. Are you sure you would like to remove this bill from your tracking service? </p>
                        </div>
                        <div class="modal-footer">

                            <button type="button z-depth-5" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button z-depth-5" class="btn btn-default" (click)="remove(bill.billId)" data-dismiss="modal">Remove Bill</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </body>
</div>