<form>
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input id="fullName" type="text" class="form-control">
        
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <a href="mailto:julevans@gmail.com?Subject=Contact%20Form" target="_top"><button class="btn btn-primary">Submit</button></a>
    
    
</form>
