<div class="container">
    <h4>My Bill Tracker</h4>
</div>
<div class="container">
    <!--Table-->
    <table id="tablePreview" class="table table-hover table-striped">
        <!--Table head-->
        <thead>
            <tr>

                <th style="width: 100px">Company</th>
                <th style="width: 100px">Utility</th>
                <th style="width: 100px">Payment Due Date</th>
                <th style="width: 100px">Amount Due</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            <tr *ngFor="let bill of bills" (click)="storeNumber(bill.billId)">
                <td style="width: 100px">{{bill.recipient}}</td>
                <td style="width: 100px">{{bill.purpose}}</td>
                <td style="width: 100px">${{bill.amount}}</td>
                <td style="width: 100px">{{bill.initialBillDate|date}}</td>

            </tr>




        </tbody>
        <!--Table body-->
    </table>
    <button type="button" routerLink="/addbill">Add Bill</button>
</div>
<!--Table-->