<h1>My Accounts</h1>

<div class="main-content"></div>
<div class="container-fluid">
    <div class="row">
        <a *ngFor="let account of accounts" routerLink="/accountsOverview/{{account.accountNumber}}">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats blue darken-3" style="width: 18rem;">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category white-text">{{account.type}}</p>
                        <h3 class="card-title white-text">{{account.accountName}}
                            <small class="white-text">Available Balance: {{account.balance}}</small>
                        </h3>
                    </div>
                    <div class="card-footer white" id="card-footer" style="height: 3rem;">
                        <div class="stats">
                            <i class="material-icons text-blue darken-4">list</i>
                            <p class="text-blue blue-darken 4">Details</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>