<div class="container">

  <body>
      <div *ngIf="transaction">

          <h2>Transaction Details</h2>
          <div class="d-flex">
              <div>
                  Transaction ID:
              </div>
              <div class="ml-auto">
                  <p class="font-italic">
                      {{transaction.transactionId}}
                  </p>
              </div>
          </div>
          <div class="d-flex">
              <div>
                  Transaction Date:
              </div>
              <div class="ml-auto">
                  {{transaction.transactionDate}}
              </div>
          </div>
          <div class="d-flex">
            <div>
                Description:
            </div>
            <div class="ml-auto">
                {{transaction.type}}
            </div>
        </div>
        <div class="d-flex">
          <div>
              Amount:
          </div>
          <div class="ml-auto">
              {{transaction.amount}}
          </div>
      </div>
      </div>


<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Accounts</button><br>
