button{
    background-color: lightgrey;
    color: black;
}

button:hover{
    background-color: lightgrey;
    color: #18d26e;
}
.container{
    display: block;

}
th{
    height: 50px;
    text-align: center;
}

table, th, td {
    border-color:  #18d26e;
}
.deleteButton{
    width: 50px;
}
