<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Description</th>
          <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactionsUser" routerLink="transactions-user">
          <td>{{ transaction.transactionDate | date: 'MM/dd/yyy' }}</td>
          <td>{{ transaction.type }}</td>
          <td>${{ transaction.amount }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
