<div class="container" id="welcomeBox">
    <p class="welcome">Welcome back, {{user.firstName}} {{user.lastName}}</p>
    <p class="lastLogin">Last login, {{user.lastLogin | date : 'medium' }} </p>
</div>
<div class="container">
    <div class="homeHeader">
        <h2>{{user.username}} Account Overview</h2>
    </div>
    <div class="underHeaderDesign"></div>
</div>


<div class="container">
    <div class="row">
        <div class="bg-light border-right, col-3" id="sidebar-wrapper">
            <h3>Accounts</h3>
            <div class="list-group list-group-flush" *ngFor="let account of accounts">
                <a (click)="getTransactions(account.accountNumber)"
                    class="list-group-item list-group-item-action bg-light">
                    <ul>
                        <li>{{account.accountName}}</li>
                        <li>Balance: ${{account.balance}}</li>
                    </ul>
                </a>
            </div>
        </div>

        <div class="col">

            <table class="table table-bordered table-striped">
                <thead class="head">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions" >
                        <td>{{ transaction.transactionDate | date: 'MM/dd/yyy' }}</td>
                        <td>{{ transaction.type }}</td>
                        <td>${{ transaction.amount }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>