.welcome{
    float: left;
    font-size: smaller;
}
.lastLogin{
    float: right;
    font-size: smaller;
}
#welcomeBox {
    display: block;
    width: 100%;
    height: 20px;
}
.container{
    position: relative;
    width: 100%;
}
.row{
    margin: 0;
    width: 100%;
}

